@use "../variables/variables" as *;

.swmw-hero-homepage {
  color: $color-white;
  overflow: hidden;
  position: relative;

  // Editor only
  .block-editor-block-list__block & {
    background: $color-black;
  }

  .wp-block-columns {
    align-items: center;
  }

  .wp-block-column:first-child {
    z-index: 1;
    padding-top: $spacing-12;
    padding-bottom: $spacing-12;
  }

  .wp-block-column:last-child {
    position: relative;
    align-self: end;
    min-height: 500px;
  }

  h1 {
    color: $color-white;
    font-size: $h1-font-size;
    font-weight: $font-weight-light;
    line-height: $line-height-tight;
    margin-bottom: $spacing-6;

    strong {
      font-weight: $font-weight-bold;
    }
  }

  p {
    font-size: $font-size-lg;
    line-height: $line-height-normal;
    max-width: 60ch;
  }

  .wp-block-buttons {
    margin-top: $spacing-8;
  }

  .wp-block-image {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $breakpoint-md) {
    .wp-block-columns {
      flex-direction: column;
    }

    .wp-block-column:last-child {
      min-height: 300px;
      margin-top: $spacing-8;
      width: 100%;
    }
  }
}
