// _pagination.scss
// Styles for post pagination

@use "../variables/variables" as *;

.swmw-pagination {
	margin: 3rem 0;

	.nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

		.page-numbers {
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: $color-primary;
			border: 1px solid $color-divider;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			font-weight: $font-weight-medium;
			transition: all 0.2s ease-in-out;

			&.current {
				background-color: $color-secondary;
				border-color: $color-secondary;
				color: $color-white;
			}

			&:not(.current):not(.dots):hover {
				border-color: $color-primary;
				background-color: rgba($color-primary, 0.1);
			}

			&.dots {
				border: none;
				color: $color-text-light;
			}
		}

		.prev,
		.next {
			// Remove the circle shape
			border: none;
			background-color: transparent;
			width: auto;
			height: auto;

			&:hover {
				color: $color-secondary;
				background-color: transparent; // Ensure no background on hover
			}
		}

		// Hide the screen reader text visually
		.screen-reader-text {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			word-wrap: normal !important;
		}
	}
}
