.attorneys-slider-wrapper .splide__arrows {
  display: none; // Hide the arrows entirely in the editor
}

.attorneys-slider-wrapper .splide__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.attorneys-slider-wrapper .splide__slide {
  flex: 0 0 48%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
}

@media (min-width: 1024px) {
  .attorneys-slider-wrapper .splide__slide {
    flex: 0 0 calc(25% - 10px);
  }
}
